.btn-clear {
        color: #FFFFFF;
  background-color: #ff3030;

  width: 300px;

  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}
.btn-delete {
  background-color: #ff9900;
}

.cart {
  position: sticky;
  top: 0;
  margin-left: 20px;
}
